<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2>hi <span>,</span> i am <br> browny <br> star <span>.</span>   </h2>
                    <p>ui/ux designer and web developer</p>
                    <p-button label="Secondary" severity="secondary" />
                    <button pButton pRipple severity="success" href="" download>download resume</button>
                </div><!--/.header-text-->
            </div><!--/.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section><!--/.welcome-hero--> 